.section-1 {background-image: none}
.section-1 .sheet-1 {min-height: 150px}
.section-1 .layout-wrap-1 {margin: 1px 0}
.section-1 .layout-cell-1 {min-height: 136px}
.section-1 .container-layout-1 {padding: 30px 60px}
.section-1 .text-1 {font-size: 3rem; margin: 15px 0}
.section-1 .layout-cell-2 {min-height: 136px}
.section-1 .container-layout-2 {padding: 30px 60px}
.section-1 .btn-1 {border-style: solid; text-transform: uppercase; font-weight: 700; font-size: 0.875rem; background-image: none; margin: 0 auto} 

@media (max-width: 1199px){ .section-1 .sheet-1 {min-height: 129px}
.section-1 .layout-wrap-1 {margin-right: initial; margin-left: initial}
.section-1 .layout-cell-1 {min-height: 100px}
.section-1 .layout-cell-2 {min-height: 100px} }

@media (max-width: 991px){ .section-1 .container-layout-1 {padding-left: 30px; padding-right: 30px}
.section-1 .container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .section-1 .sheet-1 {min-height: 229px}
.section-1 .container-layout-1 {padding-left: 10px; padding-right: 10px}
.section-1 .container-layout-2 {padding-left: 10px; padding-right: 10px} }.section-2 {background-image: url("images/57e7d5404c57a514f6da8c7dda79367d1d38d6ed5b586c48702872d2944cc45cbc_1280.jpg"); background-position: 50% 50%}
.section-2 .sheet-1 {min-height: 570px}
.section-2 .group-1 {width: 448px; min-height: 298px; margin: 203px auto 50px 0}
.section-2 .text-1 {font-size: 4.5rem; margin: 0 31px}
.section-2 .text-2 {margin: 23px -1px 0 31px} 

@media (max-width: 1199px){ .section-2 .sheet-1 {min-height: 540px}
.section-2 .group-1 {width: 636px; min-height: 305px; height: auto; margin-bottom: 0}
.section-2 .text-1 {position: relative; margin-top: 10px; margin-right: 153px; margin-left: 30px; font-size: 3rem}
.section-2 .text-2 {position: relative; margin-top: 20px; margin-right: 153px; margin-left: 30px} }

@media (max-width: 991px){ .section-2 {background-position: 36.92% 72.98%}
.section-2 .sheet-1 {min-height: 507px}
.section-2 .group-1 {width: 523px; min-height: 330px; margin-top: 177px}
.section-2 .text-1 {margin-left: 19px; margin-right: 19px}
.section-2 .text-2 {margin-top: 16px; margin-right: 129px; margin-left: 18px} }

@media (max-width: 767px){ .section-2 {background-position: 9.37% 72.98%}
.section-2 .group-1 {position: relative; margin-top: 184px; margin-right: initial; margin-left: initial; width: auto}
.section-2 .text-1 {margin-right: 14px; margin-left: 32px}
.section-2 .text-2 {margin-right: 136px; margin-left: 32px} }

@media (max-width: 575px){ .section-2 {background-position: 39.02% 72.98%}
.section-2 .sheet-1 {min-height: 567px}
.section-2 .text-1 {font-size: 2.25rem; margin-right: 9px; margin-left: 24px}
.section-2 .text-2 {margin-top: 14px; margin-right: 14px; margin-left: 24px} }.section-3 {background-image: url("images/57e0d7424a50ab14f6da8c7dda79367d1d38d6ed5b586c48702872d2944cc45cbc_1280.jpg"); background-position: 50% 50%}
.section-3 .sheet-1 {min-height: 581px} 

@media (max-width: 1199px){ .section-3 .sheet-1 {min-height: 393px} }

@media (max-width: 991px){ .section-3 .sheet-1 {min-height: 510px} }

@media (max-width: 767px){ .section-3 .sheet-1 {min-height: 440px} }

@media (max-width: 575px){ .section-3 .sheet-1 {min-height: 473px} }.section-4 .sheet-1 {min-height: 451px}
.section-4 .layout-wrap-1 {width: 1140px; margin: 30px 0 0}
.section-4 .layout-cell-1 {min-height: 342px}
.section-4 .container-layout-1 {padding: 30px}
.section-4 .icon-1 {height: 64px; width: 64px; margin: 0 auto}
.section-4 .text-1 {margin: 30px 0 0}
.section-4 .text-2 {margin: 20px 0 0}
.section-4 .layout-cell-2 {min-height: 316px}
.section-4 .container-layout-2 {padding: 30px}
.section-4 .icon-2 {height: 64px; width: 64px; margin: 0 auto}
.section-4 .text-3 {margin: 30px 0 0}
.section-4 .text-4 {margin: 20px 0 0}
.section-4 .layout-cell-3 {min-height: 316px}
.section-4 .container-layout-3 {padding: 30px}
.section-4 .icon-3 {height: 64px; width: 64px; margin: 0 auto}
.section-4 .text-5 {margin: 30px 0 0}
.section-4 .text-6 {margin: 20px 0 0}
.section-4 .btn-1 {margin: 30px auto 0}
.section-4 .link-1 {margin: 30px auto 60px} 

@media (max-width: 1199px){ .section-4 .sheet-1 {min-height: 396px}
.section-4 .layout-wrap-1 {width: 940px}
.section-4 .layout-cell-1 {min-height: 282px}
.section-4 .layout-cell-2 {min-height: 261px}
.section-4 .layout-cell-3 {min-height: 261px} }

@media (max-width: 991px){ .section-4 .sheet-1 {min-height: 235px}
.section-4 .layout-wrap-1 {width: 720px}
.section-4 .layout-cell-1 {min-height: 100px}
.section-4 .layout-cell-2 {min-height: 100px}
.section-4 .layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .section-4 .sheet-1 {min-height: 335px}
.section-4 .layout-wrap-1 {width: 540px}
.section-4 .container-layout-1 {padding-left: 10px; padding-right: 10px}
.section-4 .container-layout-2 {padding-left: 10px; padding-right: 10px}
.section-4 .container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .section-4 .layout-wrap-1 {width: 340px} }.section-5 .sheet-1 {min-height: 500px}
.section-5 .layout-wrap-1 {margin: 65px auto 65px 0}
.section-5 .image-1 {min-height: 380px; background-image: url("images/54e5d3454250a914f6da8c7dda79367d1d38d6ed5b586c48702872d39649c051b1_1280.jpg"); background-position: 50% 50%}
.section-5 .container-layout-1 {padding: 30px}
.section-5 .image-2 {min-height: 380px; background-image: url("images/54e5d7404f5bab14f6da8c7dda79367d1d38d6ed5b586c48702872d39649c05cbc_1280.jpg"); background-position: 50% 50%}
.section-5 .container-layout-2 {padding: 30px}
.section-5 .image-3 {min-height: 380px; background-image: url("images/54e5d64b4357ac14f6da8c7dda79367d1d38d6ed5b586c48702872d39649c05dbd_1280.jpg"); background-position: 50% 50%}
.section-5 .container-layout-3 {padding: 30px} 

@media (max-width: 1199px){ .section-5 .sheet-1 {min-height: 345px}
.section-5 .layout-wrap-1 {margin-right: initial; margin-left: initial}
.section-5 .image-1 {min-height: 313px}
.section-5 .image-2 {min-height: 313px}
.section-5 .image-3 {min-height: 313px} }

@media (max-width: 991px){ .section-5 .sheet-1 {min-height: 272px}
.section-5 .image-1 {min-height: 240px}
.section-5 .image-2 {min-height: 240px}
.section-5 .image-3 {min-height: 240px} }

@media (max-width: 767px){ .section-5 .sheet-1 {min-height: 1112px}
.section-5 .image-1 {min-height: 540px}
.section-5 .container-layout-1 {padding-left: 10px; padding-right: 10px}
.section-5 .image-2 {min-height: 540px}
.section-5 .container-layout-2 {padding-left: 10px; padding-right: 10px}
.section-5 .image-3 {min-height: 540px}
.section-5 .container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .section-5 .sheet-1 {min-height: 712px}
.section-5 .image-1 {min-height: 340px}
.section-5 .image-2 {min-height: 340px}
.section-5 .image-3 {min-height: 340px} }.section-6 .sheet-1 {min-height: 572px; position: relative; margin: 0 auto}
.section-6 .text-1 {font-size: 2.25rem; width: 680px; margin: 60px auto 0}
.section-6 .form-1 {height: 297px; width: 746px; margin: 44px 197px 60px}
.section-6 .form-group-4 {text-align: center}
.section-6 .btn-1 {background-image: none} 

@media (max-width: 1199px){ .section-6 .form-1 {margin-left: 97px; margin-right: 97px} }

@media (max-width: 991px){ .section-6 .form-1 {width: 720px; margin-left: auto; margin-right: auto} }

@media (max-width: 767px){ .section-6 .sheet-1 {min-height: 532px}
.section-6 .text-1 {width: 540px; margin-top: 40px}
.section-6 .form-1 {width: 540px; margin-bottom: 40px} }

@media (max-width: 575px){ .section-6 .text-1 {width: 340px}
.section-6 .form-1 {width: 340px} }